/* body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
} */

.CSConcentrationManager {
  /* CSConcentrationManager */

  position: absolute;
  width: 70vw;
  height: 20vh;
  left: 3vw;
  top: 4vh;

  font-weight: 400;
  font-size: 4vw;
  /*line-height: 116px;*/
}

.ScheduleBackground {
  /* ScheduleBackground */
  box-sizing: border-box;

  position: absolute;
  width: 48vw;
  height: 73vh;
  left: 49.375vw;
  top: 21vh;

  background: #d9d9d9;
  border: 2px solid #000000;
}

* {
  font-family: "Inter";
  font-style: normal;
  background-color: #9bddff;
  color: black;
}

.SemBackground {
  /* SemBackground */

  box-sizing: border-box;

  position: absolute;
  width: 11vw;
  height: 35vh;

  background: #1e1e1e;
  border: 2px solid #000000;
}

.SemYearHeader {
  /* SemHeader */

  box-sizing: border-box;

  position: absolute;
  width: 10vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 2px solid #000000;
}

.ClassBox {
  /* SemHeader */

  box-sizing: border-box;

  position: absolute;
  width: 10vw;
  height: 5vh;

  cursor: pointer;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  transition: all 250ms;

  background: #d9d9d9;
  border: 2px solid #000000;
}

.ClassBox:hover,
.ClassBox:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.ClassBox:hover {
  background-color: #ede2e2;
  transform: translateY(-0.2vw);
}

.ClassBox:active {
  background-color: #ede2e2;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.ClassOptionBackground {
  box-sizing: border-box;

  position: absolute;
  width: 30vw;
  height: 40vh;
  left: 9vw;
  top: 53vh;

  background: #d9d9d9;
  border: 2px solid #000000;
}

.OptionButton {
  box-sizing: border-box;

  position: absolute;
  width: 9.97vw;
  height: 5vh;

  cursor: pointer;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.OptionButton:hover {
  background-color: #ede2e2;
}

.OptionList {
  box-sizing: border-box;

  position: absolute;
  width: 9.97vw;
  height: 29.5vh;
  overflow: scroll;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.ClassOfBox {
  box-sizing: border-box;

  position: absolute;
  width: 20vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.ClassOfButton {
  box-sizing: border-box;

  position: absolute;
  width: 5.5vw;
  height: 5vh;

  cursor: pointer;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.ClassOfButton:hover {
  background: #ede2e2;
}

.PathwayDropdown {
  box-sizing: border-box;

  position: absolute;
  width: 12vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.PathwayOption {
  box-sizing: border-box;

  position: absolute;
  width: 12vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.SearchBox {
  box-sizing: border-box;

  position: absolute;
  width: 25.5vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.SearchDropdown {
  list-style-type: none;
}

.SearchOption {
  box-sizing: border-box;
  list-style-type: none;

  position: absolute;
  width: 20vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.ClassOptionTable {
  box-sizing: border-box;

  position: absolute;
  width: 9.8vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  font-size: 1.5vw;

  background: #d9d9d9;
}

.ClassOptionRow {
  background: #d9d9d9;
}

.ClassOptionBody {
  background: #d9d9d9;
}

.ClassOptionInput {
  background: #d9d9d9;
}

.InfoBox {
  box-sizing: border-box;
  padding: 0.5vw;

  position: absolute;

  text-align: center;
  vertical-align: middle;
  line-height: 2.5vh;
  font-size: 1vw;

  border-radius: 0.25rem;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

/* Action Buttons, specify left alignment */
.ActionButton {
  align-items: center;
  background-clip: padding-box;
  background-color: #d9d9d9;
  border: 0.1vw solid #000000;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;

  font-size: 1.5vw;
  justify-content: center;
  line-height: 1.25;
  margin: 0;

  position: absolute;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;

  width: 12vw;
  height: 5vh;
  top: 15vh;
}

.ActionButton:hover,
.ActionButton:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.ActionButton:hover {
  background-color: #ede2e2;
  transform: translateY(-0.2vw);
}

.ActionButton:active {
  background-color: #ede2e2;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.ErrorBox {
  box-sizing: border-box;

  position: absolute;
  width: 30vw;
  height: 20vh;
  left: 35vw;
  top: 40vh;

  border-radius: 0.25rem;

  text-align: center;
  color: #a51c30;
  vertical-align: middle;
  line-height: 6vh;
  font-size: 3vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}
