/* body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
} */

.CSConcentrationManager {
  /* CSConcentrationManager */

  position: absolute;
  width: 70vw;
  height: 20vh;
  left: 3vw;
  top: 4vh;

  font-weight: 400;
  font-size: 4vw;
  /*line-height: 116px;*/
}

.ScheduleBackground {
  /* ScheduleBackground */
  box-sizing: border-box;

  position: absolute;
  width: 48vw;
  height: 73vh;
  left: 49.375vw;
  top: 21vh;

  background: #d9d9d9;
  border: 2px solid #000000;
}

* {
  font-family: "Inter";
  font-style: normal;
  background-color: #9bddff;
  color: black;
}

.SemBackground {
  /* SemBackground */

  box-sizing: border-box;

  position: absolute;
  width: 11vw;
  height: 35vh;

  background: #1e1e1e;
  border: 2px solid #000000;
}

.SemYear {
  /* SemHeader */

  box-sizing: border-box;

  position: absolute;
  width: 10vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 2px solid #000000;
}

.ClassOptionBackground {
  box-sizing: border-box;

  position: absolute;
  width: 30vw;
  height: 40vh;
  left: 9vw;
  top: 53vh;

  background: #d9d9d9;
  border: 2px solid #000000;
}

.OptionButton {
  box-sizing: border-box;

  position: absolute;
  width: 9.97vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.OptionList {
  box-sizing: border-box;

  position: absolute;
  width: 9.97vw;
  height: 34.5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.ClassOfBox {
  box-sizing: border-box;

  position: absolute;
  width: 20vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.ClassOfButton {
  box-sizing: border-box;

  position: absolute;
  width: 5.5vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.ClassOfButton:hover {
  background: #9bddff;
}

.PathwayDropdown {
  box-sizing: border-box;

  position: absolute;
  width: 12vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.PathwayOption {
  box-sizing: border-box;

  position: absolute;
  width: 12vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.SearchBox {
  box-sizing: border-box;

  position: absolute;
  width: 20vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.SearchDropdown {
  list-style-type: none;
}

.SearchOption {
  box-sizing: border-box;
  list-style-type: none;

  position: absolute;
  width: 20vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}

.ClassOptionTable {
  box-sizing: border-box;

  position: absolute;
  width: 9.8vw;
  height: 5vh;

  text-align: center;
  vertical-align: middle;
  font-size: 1.5vw;

  background: #d9d9d9;
}

.ClassOptionRow {
  background: #d9d9d9;
}

.ResetSchedButton {
  box-sizing: border-box;

  position: absolute;
  width: 12vw;
  height: 5vh;
  left: 49.375vw;
  top: 15vh;

  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 1.5vw;

  background: #d9d9d9;
  border: 0.1vw solid #000000;
}
